REACT_APP_NETWORK_ID=97
REACT_APP_NETWORK_ID_HEX=0x61

REACT_APP_RPC=https://data-seed-prebsc-1-s1.binance.org:8545/
REACT_APP_RPC_COLLECTION=https://data-seed-prebsc-1-s1.binance.org:8545/

REACT_APP_KEY_BNB_PRICE=c3653350-e3b3-4cb2-baa9-a8b0530bdfe5
REACT_APP_KEY_TOTAL_MARKET_CAP=09fc129a-bf69-11eb-8529-0242ac130003
REACT_APP_KEY_TOTAL_DEPOSITED=98769e7c-ef29-4291-b3cd-4ae2731aea12
REACT_APP_KEY_APY=c2d30628-26bc-4f8d-b666-81ab013a855a
REACT_APP_KEY_APY_CACHED_TIME=98769e7c-ef29-4291-b3cd-4ae2731aeasd
