REACT_APP_NETWORK_ID=56
REACT_APP_NETWORK_ID_HEX=0x38

REACT_APP_RPC=https://bsc-dataseed.binance.org/
REACT_APP_RPC_COLLECTION=https://bsc-dataseed.binance.org/,https://bsc-dataseed1.defibit.io/,https://bsc-dataseed1.ninicoin.io/

REACT_APP_KEY_BNB_PRICE=9793fbde-c325-4f23-817e-cc29e0de6c95
REACT_APP_KEY_TOTAL_MARKET_CAP=34be792a-4b97-4962-a1fc-f961da0c715f
REACT_APP_KEY_TOTAL_DEPOSITED=ce42263d-3075-4afc-a723-54a3056b4cbf
REACT_APP_KEY_APY=99d9e091-834b-4336-b0a6-3b4a0da87ba4
REACT_APP_KEY_APY_CACHED_TIME=be634be2-09fd-4576-9d1a-61242a808580
